<div id="<%= dom_id customer %>">
  <p>
    <strong>Customers:</strong>
    <%= customer.Customers %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= customer.Order %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= customer.Product %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.Address %>
  </p>

</div>
