<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Customers, style: "display: block" %>
    <%= form.text_field :Customers %>
  </div>

  <div>
    <%= form.label :Order, style: "display: block" %>
    <%= form.text_field :Order %>
  </div>

  <div>
    <%= form.label :Product, style: "display: block" %>
    <%= form.text_field :Product %>
  </div>

  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :Address %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
